<div class="content">
    <div class="start-content">
        <div class="baslik-div">
            <span class="main-title">Sizin Websiteniz</span>
            <br><br>
            <span class="main-text">E-Posta: epostaadresi@gmail.com</span>
        </div>
    </div>

    <div class="ortak-div">
        <div class="main-box">
            <br>
            <span class="giris-text">
                Tavsiyem  buradaki yazıyı ortalama 2-3 satır tutmanız yönünde (Ben öyle yapmıştım) fakat fazla doldurup doldurmamak size kalmış bir durum.
            </span>
        </div>
        <div class="main-box-image-box">
            <img class="main-box-image" src="/assets/images/image-1.png" alt="">
        </div>
    </div>
</div>
<div class="content">
    <div class="start-content">
        <div class="ortak-div">
            <div class="main-box-image-box">
                <img class="main-box-image" src="/assets/images/image-1.png" alt="">
            </div>
            <div class="main-box">
                <span class="main-box-ara-baslik">Ara Başlık</span>
                <hr>
                <br>
                <span class="main-box-text">
                    Burayı da tavsiyem 1-2 satır civarı tutmanız ama yine de sizin keyfinize kalmış bir durum eğer uzun tutacaksanız main-box classında flex ve centerlarda düzenleme yapabilirsiniz.
                </span>
            </div>
        </div>
    </div>
</div>
<div class="content"
    style="background: linear-gradient(to bottom, #FDF8F0 0%,#F7E7CE 20%,#F7E7CE 60%,#FDF8F0 100%); margin-top: 10%;">
    <div class="start-content">
        <span class="main-box-ara-baslik">Ara Katman</span>
        <div class="ortak-div">
            <div class="main-box">
                <i class="fa-solid fa-graduation-cap svg-icons" style="color: #FFD43B;"></i>
                <br><br>
                <span class="main-box-text-large">İcon Yazısı</span>
            </div>
            <div class="main-box">
                <i class="fa-solid fa-school svg-icons" style="color: #4fc4a1;"></i>
                <br><br>
                <span class="main-box-text-large">İcon Yazısı</span>
            </div>
            <div class="main-box">
                <i class="fa-solid fa-bolt svg-icons" style="color: #B197FC;"></i>
                <br><br>
                <span class="main-box-text-large">İcon Yazısı</span>
            </div>
        </div>
    </div>
</div>


<center>
    <div class="content">
        <span class="main-box-ara-baslik">Youtube Kanalı</span>
        <div class="video-container">
            <iframe style="border-radius: 5px;" src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=2iCfCAaki8DsEqSN"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</center>