<div class="content">
    <div class="start-content">
        <div class="biyografi-content" style="text-align: center;">
            <div class="biyografi-title">
                <span>Sizin Adınız</span>
            </div>
            <div class="biyografi-ara-baslik">
                <span>B I Y O G R A F I</span>
                <br>
                <hr>
                <span style="color: #5c5c5c;">Falan Filan Ne Yazacağımı Bulamadım</span>
            </div>
            <br>
        </div>

        <div class="ortak-div">
            <div class="main-box">
                <div class="biyografi-ortak-text-box">
                    <div class="biyografi-text-box">
                        <div class="biyografi-box-title">
                            <span class="main-box-ara-baslik">Başlık</span>
                            &nbsp;<br><br>
                            <span class="main-box-text">
                                Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler
                                Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler
                                Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler
                                Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler
                                Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler
                                Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler
                            </span>
                        </div>
                    </div>

                    <!-- Diğer box -->

                    <div class="biyografi-text-box">
                        <div class="biyografi-box-title">
                            <span class="main-box-ara-baslik">Başlık</span>
                            &nbsp;<br><br>
                            <span class="main-box-text">
                                Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler
                                Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler
                                Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler
                                Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler
                                Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler
                                Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler
                                Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler
                                Sizin hakkınızda bir şeyler Sizin hakkınızda bir şeyler
                            </span>
                        </div>
                    </div>

                    <!-- Diğer box -->
                </div>
            </div>
            <div class="main-box-image-box">
                <img class="main-box-image" src="/assets/images/image-2.png" alt="">
            </div>
        </div>

    </div>
</div>