<div class="content">
    <div class="start-content">
        <div class="biyografi-baslik">
            <div class="main-box-title">
                <span>İletişim Bilgileri</span>
            </div>
            <br>
            <hr>
            <span style="color: #5c5c5c;"></span>
            <span class="main-box-text">İletişim bilgilerine erişmek için aşağıdaki yönlendirmeleri kullanabilirsiniz.</span>
        </div>
        <br>
        <div class="social-container">
            <div class="ortak-item-for-iletisim">
            <a href="https://gmail.com" class="social-item mail">
                <i class="fa-regular fa-envelope"></i>
            </a> <span>e_posta_adresi@gmail.com</span>
        </div> 
        <div class="ortak-item-for-iletisim">
            <a href="https://instagram.com" class="social-item instagram">
                <i class="fab fa-instagram"></i>
            </a> <span> @kullanici_adiniz</span>
        </div> 
        <div class="ortak-item-for-iletisim">
            <a href="https://youtube.com" class="social-item youtube">
                <i class="fab fa-youtube"></i>
            </a> <span> Youtube Kanalınız</span>
        </div> 
        <div class="ortak-item-for-iletisim">
            <a href="https://twitter.com" class="social-item twitter">
                <i class="fa-brands fa-x-twitter"></i>
            </a><span> @kullanici_adiniz</span>
        </div> 
        <div class="ortak-item-for-iletisim">
            <a href="https://facebook.com" class="social-item facebook">
                <i class="fab fa-facebook-f"></i>
            </a><span> @kullanici_adiniz</span>
        </div>
    </div> 
    </div>
</div>