<footer>
    <p>SITEADINIZ.COM </p>
    <p>© 2025 Görkem Gözen tarafından hazırlanmıştır.</p>
    <div class="footer-group">
        <div class="footer-section">
            <a>Sayfalar</a>
            <hr>
            <a href="anasayfa">Anasayfa</a>
            <a href="iletisim">İletişim</a>
            <a href="hakkimda">Hakkımda</a>
        </div>
        <div class="footer-section">
            <a>Sosyal Medyalar</a>
            <hr>
            <a href="#">Youtube</a>
            <a href="#">Instagram</a>
            <a href="#">Twitter</a>
        </div>
    </div>
</footer>
