<header>
    <nav>
        <div class="nav-start">
            <a href="/"><img src="/assets/images/removed-icon.png" class="icon-image" alt=""></a> 
        </div>
        <div class="nav-middle">
            <a href="/" class="simple-link">Ana Sayfa</a> 
            <a href="/hakkimda" class="simple-link">Hakkımda</a> 
            <a href="/iletisim" class="simple-link">İletişim</a>
        </div>
        <div class="nav-end">
            <a href="/"><i class="fa-brands fa-instagram"></i></a> 
            <a href="/"><i class="fa-brands fa-youtube"></i></a> 
            <a href="/"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </nav>
</header>
